/* reset rules */

* {
  padding: 0;
  margin: 0;
  cursor: none;
}

html {
  background-color: black;
}

body {
  width: 390px;
  margin: auto;
  background-color: white;
}

/* useful */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.svg-cursor {
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  height: 40px;
  width: 40px;
  backdrop-filter: invert(100%);
}