/* CSS modules */

@import "modules/L-body.css";
@import "modules/L-footer.css";
@import "modules/L-header.css";
@import "modules/D-body.css";
@import "modules/D-footer.css";
@import "modules/D-header.css";

/* fonts */

@font-face {
  font-family: SF-pro;
  src: url(../fonts/SF-Pro.woff2);
}

@font-face {
  font-family: SF-pro-Italic;
  src: url(../fonts/SF-Pro-Italic.woff2);
}

/* reset rules */

* {
  padding: 0;
  margin: 0;
  cursor: none;
  font-family: var(--font-main);
}

html {
  background-color: black;
}

body {
  width: 390px;
  margin: auto;
  background-color: white;
  height: 968px;
  overflow: hidden;
  position: relative;
}

/* useful */

:root {
  --color-main: #fff;
  --color-second: #000;
  --light-color: #d8d8d8;
  --dark-color: #464646;
  --enhanced-color: #574ae2;
  --font-main: "SF-pro";
  --font-italic: "SF-Pro-Italic";
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

.cursor {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  position: fixed;
  z-index: 1000;
  height: 40px;
  width: 40px;
  backdrop-filter: invert(100%);
  pointer-events: none;
}
