/* INDEX PAGE */

.index {
  background-color: var(--color-main);
}

.index main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.index h1 {
  font-size: 31px;
  color: #000000;
  letter-spacing: 1.55px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-main);
  margin: 26px 0 0 0;
}

.index img {
  margin: 217px 0 0 0;
}

.index a {
  margin-top: 63px;
  font-family: var(--font-main);
  font-size: 17px;
  filter: invert(100%);
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s, background 0.3s;
  transition-timing-function: cubic-bezier(0.98, 0, 0, 1.01);
  z-index: 1;
}

.index a:hover,
.index a:active,
.index a:focus {
  color: var(--color-main);
}

.index .button-bg {
  background-color: whute;
  position: absolute;
  height: 44px;
  width: 30px;
  margin-top: 63px;
  bottom: 31.7%;
  border-radius: 10px;
  transition: width 0.3s, background 0.3s;
  transition-timing-function: cubic-bezier(0.98, 0, 0, 1.01);
}

.index .hovering-button {
  cursor: pointer;
  width: 221px;
  background-color: var(--enhanced-color);
}

/* HOME PAGE  */

.home-page .chat-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 26px;
  height: 844px;
  overflow: scroll;
}

.home-page .chat-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-page .chat-item .chat-data {
  width: 243px;
  overflow: hidden;
}

.home-page .chat-item .chat-data h2 {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.35;
}

.home-page .chat-item .chat-data p {
  font-size: 15px;
}

.home-page .chat-item img {
  width: 62px;
  z-index: 0;
}

/* CHAT */

