/* INDEX PAGE */

.index {
  background-color: var(--color-main);
}

.index main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.index h1 {
  font-size: 31px;
  color: #000000;
  letter-spacing: 1.55px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-main);
  margin: 26px 0 0 0;
}

.index img {
  margin: 217px 0 0 0;
}

.index a {
  margin-top: 63px;
  font-family: var(--font-main);
  color: var(--color-second);
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s, background 0.3s;
  transition-timing-function: cubic-bezier(0.98, 0, 0, 1.01);
  z-index: 1;
  position: relative;
}

.index a .arrow-trigger {
  animation-name: arrowTrigger;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.index a:hover,
.index a:active,
.index a:focus {
  color: var(--color-main);
}

.index a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  left: -8%;
  background: var(--color-main);
  z-index: -1;
  transition: all 0.2s;
  padding:  5px 10px;
  border-radius: 10px;
}

.index a:hover::after {
  width: 102%;
  background: var(--color-second);
}

@keyframes arrowTrigger {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* HOME PAGE  */

.home-page .chat-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 26px;
  height: 844px;
  overflow: scroll;
}

.home-page .chat-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-page .chat-item .chat-data {
  width: 243px;
  overflow: hidden;
}

.home-page .chat-item .chat-data h2 {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.35;
}

.home-page .chat-item .chat-data p {
  font-size: 15px;
}

.home-page .chat-item img {
  width: 62px;
  z-index: 0;
}

/* CHAT */

