.home-page footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 35px;
  background-color: var(--color-second);
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
}

.home-page footer {
  position: sticky;
  bottom: -12%;
  right: 100px;
  transition: bottom 0.2s ease-in-out;
}

.home-page footer:hover,
.home-page footer:active,
.home-page footer:focus {
  bottom: 0;
}

.home-page footer a {
  color: var(--color-main);
}

.home-page footer span {
  font-size: 35px;
}